#footer1 {
  left: 0;
  width: 100%;
  height: 250px;
  border-top: 10px #f6f6f6 solid;
}

#footer2 {
  left: 0;
  width: 100%;
  height: 150px;
  border-top: 1px lightgray solid;
}

.service {
  margin: 50px 50px;
}

p {
  font-size: 13px;
  margin: 0px 40px;
  /*경계 바깥 여백 : 상하 좌우*/
}

.snsiframe {
  width: 400px;
  height: 500px;
  border-top: 5px blue solid;
}

.footerimg {
  height: 25px;
  font-size: 10px;
}