.MarketTOC {
  display: flex;
}

.MarketFilter {
  margin: 120px 120px 0 150px; /*경계 바깥 여백 : 위 오 아 왼*/
}
.filter-title {
  font-size: 20px;
  font-weight: bold;
}
.category-filter-content, .country-filter-content {
  margin: 20px 0;
  cursor: pointer; /*마우스 올리면 손가락으로 변하게*/
}
.category-filter-content:hover {
  border-bottom: 2px blueviolet solid;
}


.MarketSort {
  display: flex;
  margin: 125px 0 0 0; /*경계 바깥 여백 : 위 오 아 왼*/
  font-size: 14px;
  height: 30px;
  width : 1000px;
}

#sort-left {
  display: flex;
  justify-content: flex-start; /*좌측정렬*/
}
#sort-right {
  display: flex;
  margin-left: 500px;
  justify-content: flex-end; /*우측정렬*/
}