*{font-family: 'Noto Sans KR', sans-serif;}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  height: 65px;
  border-bottom: 1px lightgray solid;
  display: flex; /*내용물 좌우로 정렬*/
  align-items: center;
}

#left {
  display: flex;
  justify-content: flex-start; /*좌측정렬*/
  align-items: center; /*상하로 중앙 정렬*/
  margin: 0px 170px; /*경계 바깥 여백 : 상하 좌우*/
  width: 50%;
}
#right {
  display: flex;
  justify-content: flex-end; /*우측정렬*/
  justify-content: space-around; /* 여백추가 */
  align-items: center; /*상하로 중앙 정렬*/
  margin: 0 170px 0 70px; /*경계 바깥 여백 : 위 오 아 왼 */
  width: 100%;
  height: 50px;
}

.bigUnderbar {
  margin : 0 10px;
  padding: 19px 0;
  cursor: pointer; /*마우스 올리면 손가락으로 변하게*/
}
.bigUnderbar:hover {
  padding-top : 23px;
  border-bottom: 3.5px blueviolet solid;
}
.miniUnderbar {
  height: 30px;
  margin : 0 5px;
  padding: 15px 0;
  cursor: pointer; /*마우스 올리면 손가락으로 변하게*/
}
.miniUnderbar:hover {
  padding-top : 23px;
  border-bottom: 3px blueviolet solid;
}


section {
  display: block; /*내용물 상하로 정렬*/
  text-align: center; /*중앙 정렬*/
  margin: 0px 100px;
}

.title {
  margin: 60px 0px 0px 0px; /*위 오 아 왼*/
  font-size: 20pt;
  font-weight: bold;
}

.eventbanner {
  margin: 90px 0px 0px 0px; /*위 오 아 왼*/
  height: 170px;
}

#countrybox {
  display: block;
  margin: 20px 50px; /*경계 바깥 여백 : 상하 좌우*/
  border-width: 1px;
  border-color: lightgray;
  border-style: solid;
}
.flexlist {
  display: flex;
  justify-content: center; /*가로 중앙 정렬*/
  align-items: center; /*세로 중앙 정렬*/
}
.country {
  font-size: 15px;
  padding: 15px 30px; /*경계 안쪽 여백 : 상하 좌우*/
}

#gridcontainer {
  display: grid;
  margin: 20px 40px; /*경계 바깥 여백 : 상하 좌우*/
  grid-template-rows: 50px 510px;
  grid-template-columns: 410px 410px 410px;
  justify-items: center; /*가로 중앙 정렬*/
}

#floatingbanner {
  position: fixed; /*플로팅 배너 위치 고정*/
  top: 380px;
  left: 10px;
  height: 170px;
  width: 100px;
  border-radius: 3px;
}

#footer1 {
  width: 100%;
  height: 250px;
  border-top: 10px #f6f6f6 solid;
}
#footer2 {
    width: 100%;
    height: 150px;
    border-top: 1px lightgray solid;
}

.service {
  margin: 50px 50px;
}

p {
  font-size: 13px;
  margin: 0px 40px; /*경계 바깥 여백 : 상하 좌우*/
}

.snsiframe {
  width: 400px;
  height: 500px;
  border-top: 5px blue solid;
}
.footerimg {
  height:25px;
  font-size:10px;
}

a {
  text-decoration: none;
  color: black;
}
a:visited {
  color:black;
}


#searchbar {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
  border-radius: 20px;
  margin: 0 0 0 20px;
  width: 250px;
  height: 40px;
}
#searchinput {
  background-color: #f6f6f6;
  margin: 0 15px 0 0;
  width: 180px;
  border-style: none;
  font-size: 11px;
}
#searchinput:focus {
  outline: none;
}
#searchbtn {
  width: 20px;
  height: 20px;
}
