*{font-family: 'Noto Sans KR', sans-serif;}

section {
  display: block; /*내용물 상하로 정렬*/
  text-align: center; /*중앙 정렬*/
  margin: 0px 100px;
}

.title {
  margin: 60px 0px 0px 0px; /*위 오 아 왼*/
  font-size: 20pt;
  font-weight: bold;
}

.eventbanner {
  margin: 90px 0px 0px 0px; /*위 오 아 왼*/
  height: 170px;
}

#countrybox {
  display: block;
  margin: 20px 50px; /*경계 바깥 여백 : 상하 좌우*/
  border-width: 1px;
  border-color: lightgray;
  border-style: solid;
}
.flexlist {
  display: flex;
  justify-content: center; /*가로 중앙 정렬*/
  align-items: center; /*세로 중앙 정렬*/
}
.country {
  font-size: 15px;
  padding: 15px 30px; /*경계 안쪽 여백 : 상하 좌우*/
}

#gridcontainer {
  display: grid;
  margin: 20px 40px; /*경계 바깥 여백 : 상하 좌우*/
  grid-template-rows: 50px 510px;
  grid-template-columns: 410px 410px 410px;
  justify-items: center; /*가로 중앙 정렬*/
}

#floatingbanner {
  position: fixed; /*플로팅 배너 위치 고정*/
  top: 380px;
  left: 10px;
  height: 170px;
  width: 100px;
  border-radius: 3px;
}